<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Diet Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>


<body>




      
<div id="jumbotron" class="jumbotron">

          <h2 class="page-header">Dashboard</h2>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <h4>Ideal</h4>
              <span id = "chart">
              </span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <h4>Actual</h4>
              <span id = "actual">
              </span>
            </div>
          </div>
</div> 


         
<!-- Daily Food Diary - selects MEAL by TIME and will be moved to the search page later -->

          <h2 class="sub-header">Daily Food Diary</h2>
         <%= form_for [@meal] do |f| %>
           <% if @meal.errors.any? %>
            <div id="error_explanation">
             <h2>
              <%= pluralize(@meal.errors.count, "error") %> prohibited this meal from being saved:
            </h2>
              <ul>
                <% @meal.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              </ul>
            </div>
              <% end %>
              <% end %>

              <div>
                <%= f.label "Select a recipe" %>
                <%= f.select(:recipe_id, @recipe_options,{ include_blank: true }) %>
              </div>
              <div>
                <h5>Or</h5>
              </div>
              <div>
                <%= f.label "Select an item" %>
                <%= f.select(:item_id, @item_options,{ include_blank: true }) %>
              </div>
              <div>
                <%= f.label "Select a time" %>
                <%= f.datetime_local_field :time_eaten  %>
              </div>
              <div>
                <%= f.submit "Save meal" %>
              </div>
              <% end %>
              



<!-- Datatable for ALL meal display -->
      <div class="container">
        <div class="col-md-9">

          <h2><%= link_to "Yesterday", root_path(:@date_from => Time.new.beginning_of_day.to_i-1.day, :@date_til => Time.new.end_of_day.to_i-1.day), :class => "ui-button" %></h2>

          <h2><%= link_to "TODAY", root_path(:@date_from => Time.new.beginning_of_day.to_i, :@date_til => Time.new.end_of_day.to_i), :class => "ui-button" %></h2>

          <h2><%= link_to "Tomorrow", root_path(:@date_from => Time.new.beginning_of_day.to_i+1.day, :@date_til => Time.new.end_of_day.to_i+1.day), :class => "ui-button" %></h2>
          


          <h2>Nutrition Log</h2>

            <p>Your logged food will display below.</p> 
 
          <!-- Display morning data  -->          
                <table id='datatable' cellspacing="0" class="table table-striped">
                  <thead>
                    <tr >
                      <th id="head" scope="col" class="nobg" style="width:50%">Morning</th>
                      <th id='h-alt' scope="col" style="width:12%">cal</th>
                      <th id='h-alt' scope="col" style="width:12%">carb</th>
                      <th id='h-alt' scope="col" style="width:12%">prot</th>
                      <th id='h-alt' scope="col" style="width:12%">fat</th>
                    </tr>
                  </thead>
                <tbody>
                    <% cal = 0 %> <% carb = 0 %> <% prot = 0 %> <% fat = 0 %>
                    <% @food_morning.each do |food| %>
                    
                      <tr>
                        <td class='name'><%= food[:name] %></td>
                        <td><%= food[:calories] %></td>
                        <% cal += food[:calories] %>

                        <td><%= food[:carbs] %></td>
                        <% carb += food[:carbs] %>

                        <td><%= food[:protein] %></td>
                        <% prot += food[:protein] %>

                        <td><%= food[:fat] %></td>
                        <% fat += food[:fat] %>
                        
                      </tr>
                    <% end %>
                      <tr>      
                        <td class='name' style='font-weight:bold;'>My totals</td>
                        <td><%= cal %></td>
                        <td><%= carb %></td>
                        <td><%= prot %></td>
                        <td><%= fat %></td>
                      </tr>
                  </tbody>
                </table>

          <!-- Display Midday data -->
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col" abbr="Configurations" class="nobg" style="width:50%" >Midday</th>
                      <th id='h-alt' scope="col" style="width:12%">cal</th>
                      <th id='h-alt' scope="col" style="width:12%">carb</th>
                      <th id='h-alt' scope="col" style="width:12%">prot</th>
                      <th id='h-alt' scope="col" style="width:12%">fat</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% cal = 0 %> <% carb = 0 %> <% prot = 0 %> <% fat = 0 %>
                    <% @food_midday.each do |food| %>
                    
                      <tr>
                        <td class='name'><%= food[:name] %></td>
                        <td><%= food[:calories] %></td>
                        <% cal += food[:calories] %>

                        <td><%= food[:carbs] %></td>
                        <% carb += food[:carbs] %>

                        <td><%= food[:protein] %></td>
                        <% prot += food[:protein] %>

                        <td><%= food[:fat] %></td>
                        <% fat += food[:fat] %>
                        
                      </tr>
                    <% end %>
                      <tr>      
                        <td class='name' style='font-weight:bold;'>My totals</td>
                        <td><%= cal %></td>
                        <td><%= carb %></td>
                        <td><%= prot %></td>
                        <td><%= fat %></td>
                      </tr>
                  </tbody>
                </table>

          <!-- Display Evening data -->
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col" abbr="Configurations" class="nobg" style="width:50%" >Evening</th>
                      <th id='h-alt' scope="col" style="width:12%">cal</th>
                      <th id='h-alt' scope="col" style="width:12%">carb</th>
                      <th id='h-alt' scope="col" style="width:12%">prot</th>
                      <th id='h-alt' scope="col" style="width:12%">fat</th>
                    </tr>
                  </thead>
                    <% cal = 0 %> <% carb = 0 %> <% prot = 0 %> <% fat = 0 %>
                    <% @food_evening.each do |food| %>
                    
                      <tr>
                        <td class='name'><%= food[:name] %></td>
                        <td><%= food[:calories] %></td>
                        <% cal += food[:calories] %>

                        <td><%= food[:carbs] %></td>
                        <% carb += food[:carbs] %>

                        <td><%= food[:protein] %></td>
                        <% prot += food[:protein] %>

                        <td><%= food[:fat] %></td>
                        <% fat += food[:fat] %>
                        
                      </tr>
                    <% end %>
                      <tr>      
                        <td class='name' style='font-weight:bold;'>My totals</td>
                        <td><%= cal %></td>
                        <td><%= carb %></td>
                        <td><%= prot %></td>
                        <td><%= fat %></td>
                      </tr>
                </table>
              </div> <!-- class width -->
              </div> <!-- container -->

              	 

    <%= render "profile_piecharts" %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
