<div class="container">



    <h1>Edit Profile</h1>
  	<hr>

      
      <!-- edit form column -->
    <div class="col-md-9 personal-info">
        <h3>Personal info</h3>
        
          	<%= form_for [@user, @profile] do |f| %>
		    <% if @profile.errors.any? %>
		      <div id="error_explanation">
		        <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

		        <ul>
		        <% @profile.errors.full_messages.each do |message| %>
		          <li><%= message %></li>
		        <% end %>
		        </ul>
		      </div>
		    <% end %>
		    <div class="field"> 
		    	<div class="col-lg-3 control-label">
	           <%= f.label :name %>
	       		</div>
	            <div class="col-lg-8">
	            <%= f.text_field :name, :placeholder => "your name" %>
	            </div>
	        </div>
         
          	<div class="field">
          		<div class="col-lg-3 control-label">
	            <%= f.label :age %>
	        	</div>
	            <div class="col-lg-8">
	              <%= f.text_field :age, :placeholder => "your age" %>
            	</div>
            </div>
          
          	<div class="field">
	            <div class="col-lg-3 control-label">
	            	<%= f.label :height %>
	            </div>
	            <div class="col-lg-8">
	              <%= f.text_field :age, :placeholder => "height in cm" %>
            	</div>
            </div>
                  
          	<div class="field">
	            "><%= f.label :weight, :class =>"col-lg-3" %>
	            <div class="col-lg-8">
	              <%= f.text_field :age, :placeholder => "weight in pounds" %>
            	</div>
            </div>
          
          	<div class="field">
            	<%= f.label :gender, :class => "col-lg-3"%>
            	<div class="col-lg-8">
              	
              	<%=f.select :gender, options_for_select([['Cisgender Male', 1], ['Cisgender Female', 2], ['Gay', 1], ['Lesbian', 2], ['Bisexual Male', 1],['Bisexual Female', 2],['I am not sure, let me get back to you on that.', 0]])%>        
              	</div>
            </div>
          
          	 <div class="field">
            	<%= f.label :activity_level, :class => "col-lg-3" %>
            	<div class="col-lg-8"> 

                <%=f.select :gender, options_for_select([['Sedentary', 1], ['Low Active', 2], ['Active', 3], ['Very Active', ]])%>
             	</div>
             </div>
            
            <div class="col-md-8">
           <div class="actions">
              <%= f.submit "Create my Profile", :class => "btn btn-primary" %>
            
              <input type="reset" class="btn btn-default" value="Cancel">
                 <div class="actions"></div>
      <% end %>
    </div>
			  

</div>
<hr>