<h1>Recipes#edit</h1>
<p>Find me in app/views/recipes/edit.html.erb</p>

<%= @recipe.name  %>

<hr/>

<% @items.each do |item| %>
  <div style="margin:20px;">
    <%= item.name %>
    <%= form_for [@user, @recipe] do |f| %>
      <%= f.submit "Add item to recipe" %>
      <% f.fields_for @ingredient do |b| %> 
        <%= render 'ingredient_form' %> 
      <% end %>
      <% end %>
    <div>
    <%= item.calories %>
    <%= item.fat %>
    <%= item.protein %>
    <%= item.carbs %>user_recipe_ingredients(@user, @recipe.id)
    </div>
  </div>


<% end %>

