<h1>Recipes#edit</h1>
<p>Find me in app/views/recipes/edit.html.erb</p>

<%= @recipe.name  %>

<hr/>


  <div style="margin:20px;">
    <%= form_for [@user, @recipe] do |f| %>
      
      <%= f.fields_for @ingredient do |b| %> 
        <%= b.label :item %> 
        <%= b.select(:item_id, @item_options) %>
        <%= b.label "Amount in recipe" %> 
        <%= b.number_field :quant_of_item_eaten %>
        <%= b.label :time_eaten %> 
      <% end %>

      <%= f.submit "Add item to recipe" %>
    <% end %>
    <div>
      <%= link_to "Back to Recipes", user_recipes_path(@recipe) %> 
    </div>
  </div>




