<h1>Update Your <%= @recipe.name %> Recipe </h1>

<hr/>


  <div style="margin:20px;">
    <%= form_for [@user, @recipe] do |f| %>
      
        <div class="ingredient_fields">
      <a href="#" id="field_adder">Add ingredient</a><br>
        <div class="ingredient_field">
          <%= f.fields_for :ingredient do |b| %> 
            <%= render 'ingredient_form', f: b %> 
          <% end %>
          <a href="#" class="field_remover">Remove ingredient</a><br>
        </div>
    </div>
       
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
    <br>
    <div>
      <%= link_to "Back to #{@recipe.name}", user_recipe_path(@user, @recipe) %> 
    </div>
  </div>




<%= render 'recipe_magic' %> 