<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">

			<table>
				<thead>
					<tr>
						<th class="rec">
							<h2><%= @recipe.name %></h2>
						</th>
						<th class="rec">&nbsp;</th>
						<th class="rec">
							<%= button_to "Edit", edit_user_recipe_path(@user, @recipe), method: 'get' %>
						</th>
						<th class="rec">
							<%= button_to "Destroy", user_recipe_path(@user, @recipe), method: 'delete', data: { confirm: 'Are you sure?' } %>
						</th>
					</tr>
				</thead>
			</table>	
			<% @recipe.ingredients.each do |ingredient| %> 
				<table class="rec">
					<thead>
						<tr>
							
							<th class="rec">Ingredients</th>
							<th class="rec">&nbsp;</th>
							<th class="rec">Calories</th>
							
						</tr>
					</thead>
					<tr>
						<td class="rec"><%= ingredient.item.name %></td>
						<td class="rec">&nbsp;</td>
						<td class="rec"><%= ingredient.item.calories %></td>

					</tr>
					
				</table>
			<% end %> 
			<br> 
			<%= link_to "Back to Dashboard", '/' %> | <%= link_to "Back to Your Recipes", user_recipes_path(@user) %> 
		</div>
		<div class="col-md-3"></div>
	</div>
</div>


