<h1>Search for a food item</h1>
<div id='checkoutPlate' style="float:right; width:500px; height:800px; background: rgba(50,50,0,0.2)"></div>
<%= form_tag("/items/new", method: "get") do %>
 <%= label_tag(:q, "Search for:") %>
 <%= text_field_tag(:q) %>
 <%= submit_tag("Search") %>
<% end %>

<% @items.each do |item| %>
       <%= form_for [@item] do |f| %>
  
       <div class='searchItem' style="margin: 55px 0;">
          <div class='searchName'>
                <h3><%= item["fields"]["item_name"] %></h3>
                <%= f.hidden_field :name, :value => item["fields"]["item_name"] %> 
                <%= f.hidden_field :nutritionix_id, value: item["fields"]["item_id"] %>
          </div>
          <div class='searchResults showMe'>
            <div>      
                <%= f.label :calories %><br>  
                <%= f.hidden_field :calories, :value => item["fields"]["nf_calories"],  input_html: { style: 'width: 20px', maxlength: 10 } %> <%= item["fields"]["nf_calories"]  %>
            </div>
            <div>
                <%= f.label :fat_calories %><br>
                <% unless item["fields"]["nf_total_fat"].nil?  %>
                    <%= f.hidden_field :fat, :value => item["fields"]["nf_total_fat"],  input_html: { style: 'width: 20px', maxlength: 10 } %>
                    <%= item["fields"]["nf_total_fat"]  %>
                <% else %>
                    <%= f.hidden_field :fat, :value => 0,  input_html: { style: 'width: 20px', maxlength: 10 } %>
                    <%= 0 %>
                <% end %>
            </div>
            <div>
                <%= f.label :protein_calories %><br>
                <% unless item["fields"]["nf_protein"].nil?  %>
                    <%= f.hidden_field :protein, :value => item["fields"]["nf_protein"],  input_html: { style: 'width: 20px', maxlength: 10 } %> 
                    <%= item["fields"]["nf_protein"] %>
                <% else %>
                    <%= f.hidden_field :protein, :value => 0,  input_html: { style: 'width: 20px', maxlength: 10 } %> 
                    <%= 0 %>
                <% end %>
            </div>
            <div>
                <%= f.label :carb_calories %> <br>
                <% unless item["fields"]["nf_total_carbohydrate"].nil?  %>
                    <%= f.hidden_field :carbs, :value => item["fields"]["nf_total_carbohydrate"], input_html: { style: 'width: 20px', maxlength: 10 } %> 
                    <%= item["fields"]["nf_total_carbohydrate"] %>
                <% else %>
                    <%= f.hidden_field :carbs, :value => 0, input_html: { style: 'width: 20px', maxlength: 10 } %> 
                    <%= 0 %>
                <% end %>
            </div>
            <div>
                <%= f.hidden_field :serving_weight_grams, :value => item["fields"]["nf_serving_weight_grams"] %>
            </div>
            <%= f.submit %>
          </div>

        </div>
  
      
      
    <% end  %>
  
  
<% end %>

