<h1>Search for a food item</h1>
<%= form_tag("/items/new", method: "get") do %>
 <%= label_tag(:q, "Search for:") %>
 <%= text_field_tag(:q) %>
 <%= submit_tag("Search") %>
<% end %>

<% @items.each do |item| %>
       <%= form_for [@item] do |f| %>
       <table>
      <th>
        <div style="margin: 25px;"><%= item["fields"]["item_name"] %></div>
      </th>
      <tr>
        <td>
          <%= f.label :name  %><br>
          <%= f.text_field :name, :value => item["fields"]["item_name"] %>
        </td>
        <td>
          <%= f.label :nutritionix_id %><br>
          <%= f.text_field :nutritionix_id, value: item["fields"]["item_id"] %>
        </td>
        <td>
          <%= f.label :calories %><br>  
          <%= f.number_field :calories, :value => item["fields"]["nf_calories"] %>
        </td>
        <td>
          <%= f.label :fat_calories %><br>
          <%= f.number_field :fat, :value => item["fields"]["nf_total_fat"] * 9 %>
        </td>
        <td>
          <%= f.label :protein_calories %> <br>
          <%= f.number_field :protein, :value => item["fields"]["nf_protein"] * 4 %>
        </td>
        <td>
          <%= f.label :carb_calories %> <br>
          <%= f.text_field :carbs, :value => item["fields"]["nf_total_carbohydrate"] * 4 %>
        </td>
        <td>
          <%= f.label :serving_weight_grams %><br> 
          <%= f.number_field :serving_weight_grams, :value => item["fields"]["nf_serving_weight_grams"] %>
        </td>
      </tr>
    </table>
  
      <%= f.submit %>
      
    <% end  %>
  

<% end %>

