<h1>Items#new</h1>
<%= form_tag("/items/new", method: "get") do %>
 <%= label_tag(:q, "Search for:") %>
 <%= text_field_tag(:q) %>
 <%= submit_tag("Search") %>
<% end %>

<% @items.each do |item| %>
    <div><%= item["fields"]["item_name"] %></div>
<% end %>

