<div id="message"></div>

<h1>Search for a food item</h1>
    <div id = 'sidebar'>
        <div id="pie"></div>
        <div id = 'calcPie'></div>
        <div id="calcNeed"></div>
        <div id = 'calcBar'></div>
        <div id='calcButton'>
            Calculate
        </div>
        <form id='checkout' class='showMe'>
            <div id='createItem'>
                Create
            </div>
          <!--   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
            <p>Enter the time you ate these items:</p>
            <input type="datetime-local" name="time_eaten" id="checkoutDatetime">
            <div id='checkoutButton'>
                Create Meal
            </div> -->
        </form>
    </div>

<form id = 'nis'> 
    <input id='q' type="text" placeholder="Search for Items">
    <button id='searchAPI'>Search</button>
</form>


<div id = 'searchFolder'>

    <% @items.each do |item| %>
         <form class="searchItem newItem" action="/">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
            <input type="hidden" name="name" value="<%= item["fields"]["item_name"] %>">
            <input type="hidden" name="nutritionix_id" value="<%= item["fields"]["item_id"] %>">
            <input type="hidden" name="calories" value="<%= item["fields"]["nf_calories"] %>">
            <input type="hidden" name="serving_weight_grams" value="<%= item["fields"]["nf_serving_weight_grams"] %>">

            <% unless item["fields"]["nf_total_fat"].nil?  %>
            <input type="hidden" name="fat" value="<%= item["fields"]["nf_total_fat"] %>">
            <% else %>
            <input type="hidden" name="fat" value="<%= 0 %>">
            <% end %>

            <% unless item["fields"]["nf_protein"].nil?  %>
            <input type="hidden" name="protein" value="<%= item["fields"]["nf_protein"] %>">
            <% else %>
            <input type="hidden" name="protein" value="<%= 0 %>">
            <% end %>

            <% unless item["fields"]["nf_total_carbohydrate"].nil?  %>
            <input type="hidden" name="carbs" value="<%= item["fields"]["nf_total_carbohydrate"] %>">
            <% else %>
            <input type="hidden" name="carbs" value="<%= 0 %>">
            <% end %>
            <input type="checkbox" name="check" class="checker" value="true">

            <div class='searchName'>
                <h3><%= item["fields"]["item_name"] %><span class="plus"> + </span></h3>
                <%= item["fields"]["brand_name"] %>
            </div>
            <div class="searchResults showMe">
                <div><strong>Calories</strong><br/>
                    <%= item["fields"]["nf_calories"] %>
                </div>
                <div><strong>Fat Calories</strong><br/>
                    <%= item["fields"]["nf_total_fat"]  %>
                </div>
                <div><strong>Protein Calories</strong><br/>
                    <%= item["fields"]["nf_protein"] %>
                </div>
                <div><strong>Carbs Calories</strong><br/>
                    <%= item["fields"]["nf_total_carbohydrate"]  %>
                </div>
            </div>
        </form>
    <% end %>
</div>

<%= render "items_progressbar" %>
<%= render "items_piecharts" %>
<%= render "items_ajax" %>
   
<%= link_to "Back to Dashboard", "/" %> 
