<!DOCTYPE html>
<html>
<head>
  <title>EatCheat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

 
</head>
<body>
	  <div class="row">
	    <div class="col-md-7 col-md-offset-2"></div>
	    <div class="col-md-7 col-md-offset-2">
		<% if user_signed_in? %> 
		Signed in as <%= current_user.email %>. Not you? 
		<% if user_signed_in? %>
		<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
		<% else %>
		<li>
		<%= link_to('Login', new_user_session_path)  %>  
		</li>
		<% end %>
		<% end %>
		<% flash.each do |name, msg| %>
		<%=content_tag :div, msg, :id => "flash_#{name}" %>
		<% end %>

	      <%= yield %>
	    </div>
	    <div class="col-md-3"></div>
	  </div>
	</div> 
</body>
</html>
